[defaults]
# Do not check the host keys as no passwords are supplied
host_key_checking = False

roles_path = roles

interpreter_python = /usr/bin/python

[privilege_escalation]
# Escalate privileges by default
become = True
